@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "GenJyuuGothic P 700";
  src: url("@/assets/styles/fonts/GenJyuuGothic-P-Bold.woff2");
} */

@layer base {
  @font-face {
    font-family: "GenJyuuGothic P";
    src: url("@/assets/styles/fonts/GenJyuuGothic-P-Normal.woff2");
  }
  html {
    font-family: "GenJyuuGothic P", system-ui, sans-serif;
    letter-spacing: 0.05rem;
  }
  body {
    @apply text-xl leading-[1.8rem] text-white;
  }
  h2 {
    @apply leading-tight font-bold text-[32px];
  }
  h3 {
    @apply leading-10 font-bold text-[24px];
  }
}
